
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
    



    <div class="row" id="app_study_fda">

        <!-- COL 10 (화면 좌측)-->
        <div class="col-md-10" id="app_study_fda_left" >
            <div >
                FDA Left
            </div>
        </div>

        <!-- COL 2 (화면 우측)-->
        <div class="col-md-2" id="app_study_fda_right" >
            <!-- Button to trigger the modal -->
             <div>
                FDA Right
             </div>
        </div>

    </div> 


     