{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load bootstrap4  %}
{% load static %}
    
{% block content %}

    <div class="row"
    id="app_entertainment_actor_list">
        
        <div class="col-md-12">
            <legend class="border-bottom mb-4">
                    <h1>
                        Entertainment Actor List
                    </h1>
            </legend>
            
            
        </div>
        <div>
            {{ key1 }}
        </div>
        
    </div>


    <script>
        var post_app_entertainment_actor_list = createApp({
            delimiters: ["[[", "]]"],
            data() {
            return {
            }
            },
            methods: {},
        }).mount('#app_entertainment_actor_list')

    </script> 

{% endblock content %}
