
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
    
<!-- Modal -->
<div class="modal fade modal-xl" id="app-hans-ent-actor-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            
            
            
			<div class="modal-header">
				<h1 class="modal-title fs-4" id="exampleModalLabel"> [[ selected_actor_id ]] Profile: [[ data_actor.name ]]</h1>
				&nbsp; 
                
                <!-- 
                    Icons  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                --> 
                <button @click="f_hans_ent_actor_update_modal(data_actor.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-actor-upload-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                </button>
                &nbsp;
                
                &nbsp;
                <a v-if="data_actor.list_album_picture_id != null">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                </a>

                <button type="button" @click="list_dict_history_music_album_select()"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">

				<div>
					<table  class="table">
						<!-- 문서 Title -->
						<tr>
							<td rowspan="6" width="30%">
                                <div v-for="item in active_list_dict_profile_album" :key="item.id">
									<a :href="BASE_DIR_ACTOR+item.original" target="_blank">
										<img :src="BASE_DIR_ACTOR+item.cover" width="300">
									</a>
                                </div>
							</td>
						

							<th width="15%" style="background-color:rgb(240,240,240,0.5)">
								이름
							</th>
							<td  width="20%">
								<div>
									[[ data_actor.name ]]
								</div>
							</td>
                            <th  width="15%" style="background-color:rgb(240,240,240,0.5)">
								나이 (생일)
							</th>
							<td  width="20%">
								<div>
									[[ data_actor.age ]] ([[ data_actor.date_birth ]])
								</div>
							</td>
						</tr>

                        <!-- 사이트 -->
						<tr>
							<th style="background-color:rgb(240,240,240,0.5)">
								다른이름
							</th>
							<td style="background-color:rgb(255,255,255,0.05)">
                                <div v-for="item in data_actor.synonyms" >
                                    [[ item ]]
                                </div>
							</td>
                            <th style="background-color:rgb(240,240,240,0.5)">
								키
							</th>
                            <td style="background-color:rgb(255,255,255,0.05)">
                                [[ data_actor.height ]]
                            </td>
						</tr>

						
						<!-- 사이트 -->
						<tr>
							<th style="background-color:rgb(240,240,240,0.5)">
								관련 사이트
							</th>
							<td style="background-color:rgb(255,255,255,0.05)">
                                <div v-for="item in data_actor.list_dict_info_url" class="card" >
                                    <a :href="[[ item.url ]]" target="_blank">
                                        [[ item.name ]]
                                    </a>
                                </div>
							</td>
                            <th style="background-color:rgb(240,240,240,0.5)">
								Tag
							</th>
                            <td style="background-color:rgb(255,255,255,0.05)">
                                <div v-for="item in data_actor.tags" class="card" >
                                    [[ item ]]
                                </div>
                            </td>
						</tr>

					</table>
				</div>


				
                
                <!--
                    등록된 사진 앨범  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                -->
                <!-- Registered Picture Albums -->
                <hr>
                <table class="table">
                    <tr>
                        <td width="20%">
                            <h4>Picture Album</h4>
                        </td>
                        <td width="10%">
                            <button type="button" class="btn" @click="f_button_fold_unfold_album_picture">
                                <div v-if="status_picture_gallery_close == false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </div>
                                <div v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </div>
                            </button>
                        </td>
                        <!-- 버튼 Picture Album 업로드 -->
                        <td width="15%">
                            <button @click="f_hans_ent_picture_album_update_modal_by_actor_id(data_actor.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-picture-album-upload-modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                    <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                </svg>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </table>

                <div v-if="status_picture_gallery_close == false">
                    <div class="gallery-container">
                        <div v-for="(item, index) in list_data_picture_album" :key="index"class="card" >
                            <div class="box" id="picture-picture_album-box">
                                <div class="card-body">

                                    <div v-for="(dict_picture_album, index) in item.list_dict_picture_album" :key="index">
                                        <div v-if="dict_picture_album.active == 'true'">
                                            <button @click="f_hans_ent_picture_album_gallery_modal(data_picture_album.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-picture-album-gallery-modal">
                                                <img :src="BASE_DIR_PICTURE+dict_picture_album.thumbnail" width="140">
                                            </button>
                                        </div>
                                    </div>
                                            
                                    <div class="text-overlay">[[ item.id ]]</div>
                                    <div class="text-center">
                                        <strong>
                                            [[ item.title ]]
                                            <span v-if="item.code">
                                                ([[ item.code ]])
                                            </span> 
                                        </strong>
                                        <br>
                                        <!--
                                            아이콘들 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                        -->
                                        <div class="text-center">
                                            <button @click="f_hans_ent_actor_profile_modal(data_actor.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-actor-profile-modal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                                                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                                </svg>                            
                                            </button>
                                            &nbsp;
                                            <button @click="f_hans_ent_picture_album_update_modal(data_picture_album.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-picture-album-upload-modal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                                    <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                                </svg>
                                            </button>
                                        </div> 

                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    등록된 비디오 앨범  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                -->
                <!-- Registered Video Albums -->
                <hr>
                <table class="table">
                    <tr>
                        <td width="20%">
                            <h4>Video Album</h4>
                        </td>
                        <td width="10%">
                            <button type="button" class="btn" @click="f_button_fold_unfold_album_video">
                                <div v-if="status_video_gallery_close == false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </div>
                                <div v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </div>
                            </button>
                        </td>
                        <td width="15%">
                            <button @click="f_hans_ent_video_album_update_modal_by_actor_id(data_actor.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-video-album-upload-modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                    <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                </svg>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </table>

                <div v-if="status_video_gallery_close == false">
                    <div class="gallery-container">
                        <div v-for="(item, index) in list_data_video_album" :key="index"class="card" >
                            <div class="box" id="picture-video_album-box">
                                <div class="card-body">
                                    
                                    <div v-for="(dict_picture_album, index) in item.list_dict_picture_album" :key="index">
                                        <div v-if="dict_picture_album.active == 'true'">
                                            <button @click="f_hans_ent_video_album_gallery_modal(item.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-video-album-gallery-modal">
                                                <img :src="BASE_DIR_PICTURE+dict_picture_album.thumbnail" width="140">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <strong>
                                             [[ item.title ]]
                                        </strong>
                                        <span v-if="item.code">
                                            ([[ item.code ]])
                                        </span> 
                                        <br>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @click="list_dict_history_music_album_select()" data-bs-dismiss="modal">Close</button>
			</div>
		
		</div>
	</div>
</div>




<script>
	var post_hans_ent_actor_profile_modal = createApp({
		delimiters: ["[[", "]]"],
		data() {
		return {
            BASE_DIR_ACTOR: '',
            BASE_DIR_PICTURE: '',
            BASE_DIR_VIDEO: '',
            BASE_DIR_MUSIC: '',

			data_actor: {},
            list_dict_profile_album: [],

            data_picture: {},
            data_video: {},
            data_music: {},

            list_data_picture_album: [],
            list_data_video_album: [],
            list_data_music_album: [],
            
            selected_actor_id: '',
            selected_video_album_id: '',
            selected_picture_album_id: '',
            selected_music_album_id: '',
			
			status_profile_gallery_close: false,
            status_picture_gallery_close: false,
            status_video_gallery_close: false,
            status_music_gallery_close: false,
		}
		},
		methods: {
			f_refreshData() {
				axios.get('/hans_ent_actor_profile_modal/')
				.then((response) => {
					console.log("0",response.data)
				})
			},

			f_sync_data_to_actor_profile_modal(data) {
                this.BASE_DIR_ACTOR = data['BASE_DIR_ACTOR']
                this.BASE_DIR_PICTURE = data['BASE_DIR_PICTURE']
                this.BASE_DIR_VIDEO = data['BASE_DIR_VIDEO']
                this.BASE_DIR_MUSIC = data['BASE_DIR_MUSIC']
                
                this.data_actor = data['selected_serialized_data_actor']
                this.data_picture = data['selected_serialized_data_picture']
                this.data_video = data['selected_serialized_data_video']
                this.data_music = data['selected_serialized_data_music']

                this.list_data_picture_album = data['list_serialized_data_picture_album']
                this.list_data_video_album = data['list_serialized_data_video_album']
                this.list_data_music_album = data['list_serialized_data_music_album']
                
                if (Object.keys(this.data_actor).length > 0 ) {
					this.selected_actor_id = this.data_actor['id']
                    this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
				}
                console.log('Actor Profile Modal로 Data 수신완료', data)
			},
            
			f_reset_return() {
				data_actor = {}
                list_dict_profile_album = []

                data_picture = {}
                data_video = {}
                data_music = {}

                list_data_picture_album = []
                list_data_video_album = []
                list_data_music_album = []

                selected_actor_id = ''
                selected_video_album_id = ''
                selected_picture_album_id = ''
                selected_music_album_id = ''
                
                status_profile_gallery_close = false
                status_picture_gallery_close = false
                status_video_gallery_close = false
                status_music_gallery_close = false
			},

            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 상태 변경
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            f_button_fold_unfold_album_profile() {
                if (this.status_profile_gallery_close == false) {
                    this.status_profile_gallery_close = true
                } else {
                    this.status_profile_gallery_close = false
                }
            },

            f_button_fold_unfold_album_picture() {
                if (this.status_picture_gallery_close == false) {
                    this.status_picture_gallery_close = true
                } else {
                    this.status_picture_gallery_close = false
                }
            },

            f_button_fold_unfold_album_video() {
                if (this.status_video_gallery_close == false) {
                    this.status_video_gallery_close = true
                } else {
                    this.status_video_gallery_close = false
                }
            },

            f_button_fold_unfold_album_music() {
                if (this.status_music_gallery_close == false) {
                    this.status_music_gallery_close = true
                } else {
                    this.status_music_gallery_close = false
                }
            },

            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // to Actor  
            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            // icon pannel 배우 프로필 수정 모달창
            f_hans_ent_actor_update_modal(event) {
                this.selected_actor_id = event
                console.log('############################# 1',this.selected_actor_id)
                axios.post('/hans_ent_actor_update_modal/', {
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })  
                .then((response) => {
                    post_hans_ent_actor_update_modal.f_sync_data_to_actor_update_modal(response.data)
                    console.log('Actor Profile로부터 Actor Upload로 데이터 송신 완료', this.selected_actor_id)
                })
                .catch(() => {
                    console.log('Error! Actor Profile로부터 Actor Upload로 데이터 송신 오류')
                })
            },

             // icon pannel 배우 프로필 갤러리 풀스크린 모달창
             f_hans_ent_actor_profile_gallery_fullscreen_modal(event) {
                this.selected_actor_id = event
                console.log('Actor 프로필 모달 페이지로 가기, 선택한 배우 id', this.selected_actor_id)
                axios.post('/hans_ent_actor_profile_modal/', {
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('########################', this.selected_actor_id)
                    post_hans_ent_actor_profile_gallery_fullscreen_modal.f_sync_data_to_actor_profile_gallery_fullscreen_modal_w_path(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_actor_profile_gallery_fullscreen_modal')
                })
            },

            
            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 정보 전송
            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        
			// icon pannel Actor Picture Album Upload Modal로 정보전송
            f_hans_ent_picture_album_update_modal(event) {
                this.selected_picture_album_id = event
                console.log('선택된 사진 앨범 아이디', this.selected_picture_album_id)
                axios.post('/hans_ent_picture_album_update_modal/', {
                    'selected_picture_album_id': this.selected_picture_album_id,
					'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    post_hans_ent_picture_album_update_modal.f_sync_data_to_picture_album_update_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_picture_album_update_modal')
                })
            },
            
            // 사진 앨범 업로드 모달창으로 (Actor Id 가지고)
            f_hans_ent_picture_album_update_modal_by_actor_id(event) {
                console.log('event', event)
                this.selected_actor_id = event
                this.selected_picture_album_id = 'none'
                axios.post('/hans_ent_picture_album_update_modal/', {
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    post_hans_ent_picture_album_update_modal.f_sync_data_to_picture_album_update_modal(response.data);
                    console.log('### Actor Profile 창에서 사진 앨범 업로드 모달창으로 송신 완료', this.selected_actor_id)
                })
                .catch(() => {
                    console.log('Error! ### Actor Profile 창에서 사진 앨범 업로드 모달창으로 송신 오류')
                })
            },

            // 사진 앨범 갤리러 모달창으로 
            f_hans_ent_picture_album_gallery_modal(event) {
                this.selected_picture_album_id = event
                axios.post('/hans_ent_picture_album_gallery_modal/', {
                    'selected_picture_album_id': this.selected_picture_album_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('######################## 사진 앨범 갤러리 모달창으로 전송', this.selected_actor_id)
                    post_hans_ent_picture_album_gallery_modal.f_sync_data_to_picture_album_gallery_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_picture_album_update_modal_by_actor_id')
                })
            },
            


            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // to Video Album 
            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            
            
			// icon pannel 비디오 앨범 업로드 모달창으로 (Actor ID 가지고)
            f_hans_ent_video_album_update_modal_by_actor_id(event) {
                this.selected_actor_id = event
                console.log('Actor 정보로 Vido Album 업로드하기', this.selected_actor_id)
				axios.post('/hans_ent_video_album_update_modal/', {
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('비디오앨범업로드모달창으로 전송시작', response.data)
                    post_hans_ent_video_album_update_modal.f_sync_data_to_video_album_update_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_video_album_update_modal_by_actor_id')
                })
            },
            
            
    		// icon pannel 비디오 앨범 갤러리 모달창으로 (비디오 앨범을 지정해서)
			f_hans_ent_video_album_gallery_modal(event) {
				this.selected_video_album_id = event
                console.log(this.selected_video_album_id)
                axios.post('/hans_ent_video_album_gallery_modal/', {
                    'selected_video_album_id': this.selected_video_album_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('Adult Video Album 정보 전송 시작', response.data)
                    post_hans_ent_video_album_gallery_modal.f_sync_data_to_video_album_gallery_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_video_album_gallery_modal')
                })
			},
            

            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Actor 삭제
            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            f_select_actor_to_delete() {
                console.log('Actor 삭제 버튼 눌렀음!')
            },

            list_dict_history_music_album_select() {
		        console.log('Actor 프로필 모달창 닫힘버튼 눌렀음!')
            },
		},
		computed: {
            active_list_dict_profile_album() {
                return this.list_dict_profile_album.filter(item => item.active === "true" && item.discard === "false")
            },
			total_list_dict_profile_album() {
                return this.list_dict_profile_album.filter(item => item.discard === "false")
            },
        },

		mounted: function() {
			this.f_refreshData()
		}
	}).mount('#app-hans-ent-actor-profile-modal')
		
	
    $('#app-hans-ent-actor-profile-modal').on('hidden.bs.modal', function () {
		
		console.log('Actor 프로필 모달창 닫혔음!')
	});

</script>   


<style>
	
</style>