
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
    
{% block content %}

    <div class="row" id="app-hans-ent-actor-list2">
        <div class="col-md-12">
            [[ test ]]
            999999
            
        </div>
    </div> 


     
    <script>
        var post_hans_ent_actor_list2 = createApp({
            delimiters: ["[[", "]]"],
            data() {
            return {
                test: '', 
            }
            },
            methods: {
                f_refreshData() {
                    axios.get('/hans_ent_actor_list_new/')
                    .then((response) => {
                        this.test = response.data['test']
                        console.log('refresh 실행 되었음')
                    })
                },
            },
            computed: {
            },
            mounted: function() {
                console.log('refresh 실행 시키기')
                this.f_refreshData()
            }
        }).mount('#app-hans-ent-actor-list2')

    </script> 

{% endblock content %}