
{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
    
{% block content %}


    <!--
        메뉴바 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

<div id="app-hans-ent">

    <div class="row" >
        <div class="col-md-12">
            <legend class="border-bottom mb-4">
                    <br>
                    <form method="POST" action="{% url 'hans-ent' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for item in LIST_MENU_HANS_ENT %}
                            <button type="submit" 
                                {% if q_mysettings_hansent.menu_selected == item.0 %}
                                    class="btn btn-warning btn-sm" 
                                {% else %}
                                    class="btn btn-dark btn-sm" 
                                {% endif %}
                                name="button-switch-hans-ent-home-menu" 
                                value="{{ item.0 }}"
                            >
                                {{ item.1 }}
                            </button>
                        {% endfor %}

                    </form>
            </legend>


        </div>
        <hr>
    </div>

    <!-- 
        Item 리스트 표시
    -->
    <div class="row" >
        <div class="col-md-12" id="app-hans_ent_left_window" >
        <!--
            좌측 화면
        -->
        <div v-if="menu_selected === '01'" >
            1
            {% include 'hans_ent/actor_list.html' %}
        </div>
        <div v-if="menu_selected === '02'" >
            2
            {% include 'hans_ent/picture_album_list.html' %}
        </div>
        <div v-if="menu_selected === '03'" >
            3
            {% include 'hans_ent/video_album_list.html' %}
        </div>
        <div v-if="menu_selected === '04'" >
            4
            {% include 'hans_ent/music_album_list.html' %}
        </div>
            
            

        </div>

    </div>

</div>
   



<!--
    자바스크립트 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
<script>
    
    var app_hans_ent = createApp({
        delimiters: ["[[", "]]"],

        data() {
        return {
            data_settings: {},
            menu_selected: '01',

            BASE_DIR_ACTOR: '',
            BASE_DIR_PICTURE: '',
            BASE_DIR_VIDEO: '',
            BASE_DIR_MUSIC: '',
            
            data_actor: {},
            data_picture: {},
            data_video: {},
            data_music: {},

            
            list_serialized_data_actor: [],
            list_serialized_data_picture_album: [],
            list_serialized_data_video_album: [],
            list_serialized_data_music_album: [],

            list_serialized_data_picture_album_by_actor: [],
            list_serialized_data_video_album_by_actor: [],
            list_serialized_data_music_album_by_actor: [],

            list_dict_profile_album: [],
            list_dict_picture_album: [],
            list_dict_video_album: [],
            list_dict_music_album: [],

            list_dict_actor_info_url: [],
            list_dict_picture_info_url: [],
            list_dict_video_info_url: [],
            list_dict_music_info_url: [],

            selected_actor_id: '',
            selected_video_album_id: '',
            selected_picture_album_id: '',
            selected_music_album_id: '',

            selected_profile_album_id: '',
            selected_profile_album_picture_id: '',


            list_menu_type: [],
            list_field_sorting: [],
            list_dict_history_actor_select: [],

            selected_sorting_field: '',

            // update
            input_text_name: '',
            input_text_synonyms: '',
            input_info_site_name: '',
            input_info_site_url: '',
            input_date_birthday: '',
            input_number_height: '',
            input_text_tag: '',

            images: '',
            files: '',
            
            // search bar
            inputTextKeyword: '',
            searchData: '',

            total_num_registered_item: '',
            total_num_searched_item: '',
            count_page_number_min: '',
            count_page_number_max: '',
            count_page_number: '',

            status_picture_gallery_close: false,
            status_video_gallery_close: false,
            status_music_gallery_close: false,

            // Upload Form
            progress_value: 0,
            progress_max: 100,
            progress_min: 0,
            show_progress: false,

            status_cover_image_change: false,
            status_profile_album_picture_remove: false,
            status_picture_album_picture_order_switch: false,
            status_picture_album_picture_remove: false,
            status_create: false,

            
            check_error: false,
            message:'',
        
        }},

        methods: {

            f_refreshData_router() {
                axios.get('/hans_ent_refresh_router/')
                .then((response) => {
                    // this.data_settings = response.data['selected_serialized_data_mysettings']
                    // if (Object.keys(this.data_settings).length > 0 ) {
                    //     this.menu_selected_id = this.data_settings['menu_selected']
                    //     if (this.menu_selected_id === null) {this.menu_selected_id = 0}
                        
                    // }

                    this.menu_selected = response.data['menu_selected']
                    console.log(this.menu_selected)
                    if (this.menu_selected === '01' ) {
                        this.f_refreshData_actor_list()
                        console.log('01')
                    }
                    if (this.menu_selected === '02' ) {
                        // this.f_refreshData_actor_list()
                        console.log('02')
                    }
                    if (this.menu_selected === '03' ) {
                        // this.f_refreshData_actor_list()
                        console.log('03')
                    }
                    if (this.menu_selected === '04' ) {
                        // this.f_refreshData_actor_list()
                        console.log('04')
                    }
                })
            },

            f_refreshData() {
                axios.get('hans_ent/')
                .then((response) => {
                    console.log("hans_ent_get_refresh")
                })
            },

            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Actor List 
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            f_refreshData_actor_list() {
                axios.get('/hans_ent_actor_list/')
                .then((response) => {
                    this.BASE_DIR_ACTOR = response.data["BASE_DIR_ACTOR"]
                    this.BASE_DIR_PICTURE = response.data["BASE_DIR_PICTURE"]
                    this.BASE_DIR_VIDEO = response.data["BASE_DIR_VIDEO"]
                    this.BASE_DIR_MUSIC = response.data["BASE_DIR_MUSIC"]

                    this.list_field_sorting = response.data['LIST_ACTOR_SORTING_FIELD']
                    this.list_serialized_data_actor = response.data['list_serialized_data_actor']
                    
                    this.total_num_registered_item = response.data['total_num_registered_item']
                    this.total_num_searched_item = response.data['total_num_searched_item']
                    this.count_page_number_min = response.data['list_count_page_number'][0]
                    this.count_page_number_max = response.data['list_count_page_number'][1]
                    this.count_page_number = response.data['list_count_page_number'][2]
                    
                    console.log("################ hans_ent_actor_list_view refreshed!!")
                })
            },

            f_url_replace_to_local() {
                console.log('dir change')
                this.BASE_DIR_ACTOR  = 'http://172.16.2.55:8000/media/vault1/actor/'
                this.BASE_DIR_PICTURE  = 'http://172.16.2.55:8000/media/vault1/picture/'
                this.BASE_DIR_VIDEO  = 'http://172.16.2.55:8000/media/vault1/video/'
                this.BASE_DIR_MUSIC  = 'http://172.16.2.55:8000/media/vault1/music/'
            },

            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 모달창 열기 위한 정보 획득
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            // icon pannel
            f_hans_ent_actor_profile_modal_open(event) {
                this.selected_actor_id = event
                console.log('### Send Data to Actor Profile Modal with Selected Actor ID: ', this.selected_actor_id)
                axios.post('/hans_ent_actor_profile_modal/', {
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    // console.log('Actor List로부터 Actor Profile Modal로 Data 송신 완료', response.data)
                    this.data_actor = response.data["selected_serialized_data_actor"]
                    this.data_picture = response.data["selected_serialized_data_picture_album"]
                    this.data_video = response.data["selected_serialized_data_video_album"]
                    this.data_music = response.data["selected_serialized_data_music_album"]

                    this.list_serialized_data_picture_album_by_actor = response.data['list_serialized_data_picture_album_by_actor']
                    this.list_serialized_data_video_album_by_actor = response.data['list_serialized_data_video_album_by_actor']
                    this.list_serialized_data_music_album_by_actor = response.data['list_serialized_data_music_album_by_actor']

                    if (Object.keys(this.data_actor).length > 0 ) {
                        this.selected_actor_id = this.data_actor['id']
                        if (this.selected_actor_id === null) {this.selected_actor_id = 0}
                        this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
                        if (this.list_dict_profile_album === null) {this.list_dict_profile_album = []}
                        this.list_dict_actor_info_url = this.data_actor['list_dict_info_url']
                        if (this.list_dict_actor_info_url === null) {this.list_dict_actor_info_url = []}
                    }

                    if (Object.keys(this.data_picture).length > 0 ) {
                        console.log('hhahahahah')
                        this.selected_picture_album_id = this.data_picture['id']
                        if (this.selected_picture_album_id === null) {this.selected_picture_album_id = 0}
                        this.list_dict_picture_album = this.data_picture['list_dict_picture_album']
                        if (this.list_dict_picture_album === null) {this.list_dict_picture_album = []}
                    }
                    console.log('list_dict_picture_album', this.list_dict_picture_album)
                    if (Object.keys(this.data_video).length > 0 ) {
                        this.selected_video_album_id = this.data_video['id']
                        if (this.selected_video_album_id === null) {this.selected_video_album_id = 0}
                        this.list_dict_video_album = this.data_video['list_dict_video_album']
                        if (this.list_dict_video_album == null) {this.list_dict_video_album = []}
                    } else {
                        this.data_video = {}
                        this.selected_video_album_id = 0
                        this.list_dict_video_album = []
                    }

                    if (Object.keys(this.data_music).length > 0 ) {
                        this.selected_music_album_id = this.data_music['id']
                        if (this.selected_music_album_id === null) {this.selected_music_album_id = 0}
                        this.list_dict_music_album = this.data_music['list_dict_music_album']
                        if (this.list_dict_music_album == null) {this.list_dict_music_album = []}
                    } else {
                        this.data_music = {}
                        this.selected_music_album_id = 0
                        this.list_dict_music_album = []
                    }
                    
                })
                .catch(() => {
                    console.log('Error! Actor List로부터 Actor Profile로 데이터 송신 오류')
                })
            },

            f_hans_ent_actor_create_modal_oepn() {
                console.log('f_hans_ent_actor_create_modal_oepn',)
            },

                
            f_hans_ent_actor_update_modal_open(event) {
                this.selected_actor_id = event
                console.log('f_hans_ent_actor_update_modal_open', event)
                // axios.post('/hans_ent_actor_update_modal/', {
                //     'selected_actor_id': event,
                //     'modal': 'upload'
                // }, {
                // headers: {
                //     'Content-Type': 'multipart/form-data',
                //     'X-CSRFToken': "{{ csrf_token }}"
                // }
                // })  
                // .then((response) => {
                //     console.log('모델리스트에서 모델 업로드로 정보 전송 시작', response.data)
                //     post_hans_ent_actor_update_modal.f_sync_data_actor_list_to_upload(response.data)
                // })
                // .catch(() => {
                //     console.log('Error! f_hans_ent_actor_update_modal_open')
                // })
            },

                
            f_hans_ent_actor_gallery_modal_open(event) {
                this.selected_actor_id = event
                console.log(this.selected_actor_id)
                axios.post('/hans_ent_actor_gallery_modal/', {
                    'selected_actor_id': event,
                    'modal': 'gallery'
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })  
                .then((response) => {
                    console.log('모델리스트에서 모델 갤러리로 정보 전송 시작', response.data)
                    post_hans_ent_actor_gallery_modal.f_sync_data_actor_list_to_gallery(response.data)
                })
                .catch(() => {
                    console.log('Error! ')
                })
            },

            // 사진 앨범 업로드 모달창으로 (Actor Id 가지고)
            f_hans_ent_picture_album_update_modal_open_by_actor_id(event) {
                console.log('event', event)
                this.selected_actor_id = event
                this.selected_picture_album_id = 'none'
                axios.post('/api/hans_ent_picture_album_update_modal/', {
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    post_hans_ent_picture_album_update_modal.f_sync_data_to_picture_album_update_modal(response.data);
                    console.log('### Actor Profile 창에서 사진 앨범 업로드 모달창으로 송신 완료', this.selected_actor_id)
                })
                .catch(() => {
                    console.log('Error! ### Actor Profile 창에서 사진 앨범 업로드 모달창으로 송신 오류')
                })
            },
            
            
            // 사진 앨범 갤리러 모달창으로 
            f_hans_ent_picture_album_gallery_modal_open(event) {
                console.log('event', event.id)
                this.selected_picture_album_id = event.id
                axios.post('/hans_ent_picture_album_gallery_modal/', {
                    'selected_picture_album_id': this.selected_picture_album_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('######################## 사진 앨범 갤러리 모달창으로 전송', this.selected_actor_id)
                    this.data_actor = response.data['selected_serialized_data_actor']
                    if (Object.keys(this.data_actor).length > 0 ) {
                        this.selected_actor_id = this.data_actor['id']
                        if (this.selected_actor_id === null) {this.selected_actor_id = 0}
                        this.list_dict_info_url = this.data_actor['list_dict_info_url']
                        if (this.list_dict_info_url == null) {this.list_dict_info_url = []}
                        this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
                        if (this.list_dict_profile_album == null) {this.list_dict_profile_album = []}
                    } else {
                        this.data_actor = {}
                        this.selected_actor_id = 0
                        this.list_dict_info_url = []
                        this.list_dict_profile_album = []
                    }
                    
                    this.data_picture = response.data['selected_serialized_data_picture_album']
                    if (Object.keys(this.data_picture).length > 0 ) {
                        this.selected_picture_album_id = this.data_picture['id']
                        if (this.selected_picture_album_id === null) {this.selected_picture_album_id = 0}
                        this.list_dict_picture_album = this.data_picture['list_dict_picture_album']
                        if (this.list_dict_picture_album == null) {this.list_dict_picture_album = []}
                    } else {
                        this.data_picture = {}
                        this.selected_picture_album_id = 0
                        this.list_dict_picture_album = []
                    }
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_picture_album_gallery_modal')
                })
            },

            f_hans_ent_picture_album_gallery_fullscreen_modal_open(event) {
                this.selected_picture_album_id = event
                axios.post('/hans_ent_picture_album_gallery_modal/', {
                    'selected_picture_album_id': this.selected_picture_album_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('######################## 사진 앨범 갤러리 모달창으로 전송', this.selected_actor_id)
                    post_hans_ent_picture_album_gallery_modal.f_sync_data_to_picture_album_gallery_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_picture_album_gallery_modal')
                })
            },

            
            // icon pannel Actor Picture Album Upload Modal로 정보전송
            f_hans_ent_picture_album_update_modal_open(event) {
                this.selected_picture_album_id = event
                console.log('선택된 사진 앨범 아이디', this.selected_picture_album_id)
                axios.post('/hans_ent_picture_album_update_modal/', {
                    'selected_picture_album_id': this.selected_picture_album_id,
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    post_hans_ent_picture_album_update_modal.f_sync_data_to_picture_album_update_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_picture_album_update_modal')
                })
            },
            
            
            // icon pannel 비디오 앨범 업로드 모달창으로 (Actor ID 가지고)
            f_hans_ent_video_album_update_modal_open_by_actor_id(event) {
                this.selected_actor_id = event
                console.log('Actor 정보로 Vido Album 업로드하기', this.selected_actor_id)
                axios.post('/hans_ent_video_album_update_modal/', {
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('비디오앨범업로드모달창으로 전송시작', response.data)
                    post_hans_ent_video_album_update_modal.f_sync_data_to_video_album_update_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_video_album_update_modal_by_actor_id')
                })
            },
            


                
            
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Actor Create Modal 함수
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            f_reset_data_actor_create() {
                console.log('execute reset function for actor create modal')
                this.input_text_name = ''
                this.input_text_synonyms = ''
                this.input_date_birthday = ''
                this.input_number_height = ''
                
                this.progress_value = 0
                this.progress_max = 100
                this.progress_min = 0
                this.show_progress = false

                $("#id_actor_create_input_text_name").val("");
                $("#id_actor_create_input_date_birthday").val("");
                $("#id_actor_create_input_text_synonyms").val("");
                $("#id_actor_create_input_number_height").val("");
            },
                            
            
            f_input_text_name(event) {
                this.input_text_name = event.target.value
            },

            f_input_text_synonyms(event) {
                this.input_text_synonyms = event.target.value
            },

            f_input_date_birthday(event) {
                this.input_date_birthday = event.target.value
            },
        
            f_input_number_height(event) {
                this.input_number_height = event.target.value
            },

            
            async f_upload_form() {
                console.log('111111111111111', this.input_text_name)
                let formData = new FormData();
                formData.append('button', 'create_or_update');
                formData.append('selected_actor_id', 'none')
                formData.append('input_text_name', this.input_text_name)
                formData.append('input_text_synonyms', this.input_text_synonyms)
                formData.append('input_date_birthday', this.input_date_birthday)
                formData.append('input_number_height', this.input_number_height)
                this.show_progress = true;

                if (this.input_text_name != '') {
                    console.log('start create actor')

                    try {
                        await axios.post('/api/hans_ent_actor_update_modal/', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'X-CSRFToken': getCSRFToken()
                        },
                        onUploadProgress: progressEvent => {
                        this.progress_value = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100))}
                        })
                        .then((response) => {
                            console.log('Start Create Actor')
                            this.f_reset_data_actor_create()
                            this.f_closeModal()
                            this.$emit('emit_response_data_actor_update_modal', response.data)
                            this.$emit('trigger_status_visible_actor_update_modal_open')
                            console.log('######################## finish_emit_data_actor_create_modal', response.data)
                        })
                        alert('Upload successful');
                    } catch (error) {
                        console.error('Error uploading images:', error);
                    }
                } else {
                    alert("이름을 입력하지 않았습니다.");
                    this.show_progress = false;
                }
            },

            
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Actor Create Modal 관련 종료
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            

            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Actor Profile Modal
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            f_sync_data_to_actor_profile_modal(data) {
                this.BASE_DIR_ACTOR = data['BASE_DIR_ACTOR']
                this.BASE_DIR_PICTURE = data['BASE_DIR_PICTURE']
                this.BASE_DIR_VIDEO = data['BASE_DIR_VIDEO']
                this.BASE_DIR_MUSIC = data['BASE_DIR_MUSIC']
                
                this.data_actor = data['selected_serialized_data_actor']
                this.data_picture = data['selected_serialized_data_picture']
                this.data_video = data['selected_serialized_data_video']
                this.data_music = data['selected_serialized_data_music']

                this.list_serialized_data_picture_album = data['list_serialized_data_picture_album']
                this.list_serialized_data_video_album = data['list_serialized_data_video_album']
                this.list_serialized_data_music_album = data['list_serialized_data_music_album']
                
                if (Object.keys(this.data_actor).length > 0 ) {
                    this.selected_actor_id = this.data_actor['id']
                    this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
                }
                console.log('Actor Profile Modal로 Data 수신완료', data)
            },
            
            f_reset_data_actor_profile() {
                data_actor = {}
                list_dict_profile_album = []

                data_picture = {}
                data_video = {}
                data_music = {}

                list_serialized_data_picture_album = []
                list_serialized_data_video_album = []
                list_serialized_data_music_album = []

                selected_actor_id = ''
                selected_video_album_id = ''
                selected_picture_album_id = ''
                selected_music_album_id = ''
                
                status_profile_gallery_close = false
                status_picture_gallery_close = false
                status_video_gallery_close = false
                status_music_gallery_close = false
            },

        

            f_button_fold_unfold_album_profile() {
                if (this.status_profile_gallery_close == false) {
                    this.status_profile_gallery_close = true
                } else {
                    this.status_profile_gallery_close = false
                }
            },

            f_button_fold_unfold_album_picture() {
                if (this.status_picture_gallery_close == false) {
                    this.status_picture_gallery_close = true
                } else {
                    this.status_picture_gallery_close = false
                }
            },

            f_button_fold_unfold_album_video() {
                if (this.status_video_gallery_close == false) {
                    this.status_video_gallery_close = true
                } else {
                    this.status_video_gallery_close = false
                }
            },

            f_button_fold_unfold_album_music() {
                if (this.status_music_gallery_close == false) {
                    this.status_music_gallery_close = true
                } else {
                    this.status_music_gallery_close = false
                }
            },

            // icon pannel 배우 프로필 갤러리 풀스크린 모달창
            f_hans_ent_actor_profile_gallery_fullscreen_modal(event) {
                this.selected_actor_id = event
                console.log('Actor 프로필 모달 페이지로 가기, 선택한 배우 id', this.selected_actor_id)
                axios.post('/hans_ent_actor_profile_modal/', {
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('########################', this.selected_actor_id)
                    post_streaming_actor_profile_gallery_fullscreen_modal.f_sync_data_to_actor_profile_gallery_fullscreen_modal_w_path(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_actor_profile_gallery_fullscreen_modal')
                })
            },

                
            


            
            
            // icon pannel 비디오 앨범 갤러리 모달창으로 (비디오 앨범을 지정해서)
            f_hans_ent_video_album_gallery_modal(event) {
                this.selected_video_album_id = event
                console.log(this.selected_video_album_id)
                axios.post('/hans_ent_video_album_gallery_modal/', {
                    'selected_video_album_id': this.selected_video_album_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('Adult Video Album 정보 전송 시작', response.data)
                    post_hans_ent_video_album_gallery_modal.f_sync_data_to_video_album_gallery_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_video_album_gallery_modal')
                })
            },
            
            f_select_actor_to_delete() {
                console.log('Actor 삭제 버튼 눌렀음!')
            },


            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Actor Profile Modal 관련 종료
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            

            
            

            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Actor Update Modal 시작
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            
            f_sync_data_to_actor_update_modal(data) {
                this.f_reset_data_actor_update()
                this.BASE_DIR_ACTOR = data['BASE_DIR_ACTOR']
                this.data_actor = data['selected_serialized_data_actor']
                
                if (Object.keys(this.data_actor).length > 0 ) {
                    this.list_dict_info_url = this.data_actor['list_dict_info_url']
                    this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
                    this.selected_actor_id = this.data_actor['id']
                } else {
                    this.status_create = true
                }

                console.log('Actor List로부터 upload로 데이터 수신 완료', this.selected_actor_id)
            },
            
            f_reset_data_actor_update() {
                this.data_actor = {}
                this.list_dict_info_url = []
                this.list_dict_profile_album = []
                this.list_serialized_data_actor = []
                
                this.selected_actor_id = ''
                this.selected_profile_album_id = ''
                this.selected_profile_album_picture_id = ''
                
                this.input_text_name = ''
                this.input_text_synonyms = ''
                this.input_info_site_name = ''
                this.input_info_site_url = ''
                this.input_date_birthday = ''
                this.input_number_height = ''
                this.input_text_tag = ''
                
                this.images =''
                
                this.progress_value = 0
                this.progress_max = 100
                this.progress_min = 0
                this.show_progress = false
                
                this.status_cover_image_change = false
                this.status_profile_album_picture_remove = false 
                this.status_create = false

                this.$refs.ref_input_text_name.value = '';
                this.$refs.ref_input_date_birthday.value = '';
                this.$refs.ref_input_text_synonyms.value = '';
                this.$refs.ref_input_number_height.value = '';
                this.$refs.ref_input_info_site_name.value = '';
                this.$refs.ref_input_info_site_url.value = '';
                this.$refs.ref_input_text_tag.value = '';
                this.$refs.ref_input_file_images.value = '';
                
            },
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Cover image 선택/변경/
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            f_replace_registered_picture_album_cover_image() {
                if (this.status_cover_image_change === true) {
                    this.status_cover_image_change = false
                } else {
                    this.status_cover_image_change = true
                }
            },

            f_select_picture_as_cover(event) {
                console.log(event)
                this.selected_profile_album_picture_id = event
                axios.post('/hans_ent_actor_update_modal/', {
                    'button': 'change_profile_album_cover_image',
                    'selected_actor_id': this.selected_actor_id,
                    'selected_profile_album_picture_id': this.selected_profile_album_picture_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    this.status_cover_image_change = false
                    this.selected_profile_album_picture_id = ''
                    
                    this.data_actor = response.data['selected_serialized_data_actor']
                    if (Object.keys(this.data_actor).length > 0 ) {
                        this.list_dict_info_url = this.data_actor['list_dict_info_url']
                        this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
                        this.selected_actor_id = this.data_actor['id']
                    }
                })
                .catch(() => {
                    console.log('Error! f_select_picture_as_cover')
                })
            },

            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 앨범 등록한 image 삭제
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            f_remove_registered_profile_album_picture() {
                if (this.status_profile_album_picture_remove === true) {
                    this.status_profile_album_picture_remove = false
                } else {
                    this.status_profile_album_picture_remove = true
                }
            },

            f_select_picture_to_remove(event) {
                console.log(event)
                this.selected_profile_album_picture_id = event
                axios.post('/hans_ent_actor_update_modal/', {
                    'button': 'remove_profile_album_picture',
                    'selected_actor_id': this.selected_actor_id,
                    'selected_profile_album_picture_id': this.selected_profile_album_picture_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    this.status_profile_album_picture_remove = false
                    this.selected_profile_album_picture_id = ''
                    
                    this.data_actor = response.data['selected_serialized_data_actor']
                    if (Object.keys(this.data_actor).length > 0 ) {
                        this.list_dict_info_url = this.data_actor['list_dict_info_url']
                        this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
                        this.selected_actor_id = this.data_actor['id']
                    }
                })
                .catch(() => {
                    console.log('Error! f_select_picture_to_remove')
                })
            },


            // Actor 합치기
            f_select_actor_to_merge(event) {
                console.log(event)
                const isConfirmed = window.confirm("모델 정보 합치기를 승인하시겠습니까?");
                if (isConfirmed) {
                    alert("모델 합치기를 승인하였습니다.");
                        axios.post('/hans_ent_actor_update_modal/', {
                        'alternative_actor_id': event,
                        'selected_actor_id': this.selected_actor_id,
                        'button': 'select_to_merge'
                    }, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'X-CSRFToken': "{{ csrf_token }}"
                    }
                    })
                    .then((response) => {
                        this.data_actor = response.data['selected_serialized_data_actor']
                        if (Object.keys(this.data_actor).length > 0 ) {
                            this.list_dict_info_url = this.data_actor['list_dict_info_url']
                            this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
                            this.selected_actor_id = this.data_actor['id']
                        }
                    })
                    .catch(() => {
                        console.log('Error! ')
                    })
                } else {
                    alert("모델 합치기를 취소하였습니다.");
                    // Code to execute if user clicked "Cancel" (No)
                }
            },

            
            // Actor 삭제
            f_select_actor_to_delete(event) {
                console.log('delete actor id', event)
                console.log(event)
                const isConfirmed = window.confirm("정말 모델 정보를 삭제하시겠습니까?");
                if (isConfirmed) {
                    alert("모델 삭제를 승인하였습니다.");
                    axios.post('/hans_ent_actor_update_modal/', {
                        'selected_actor_id': event,
                        'button': 'actor_delete',
                        'list_serialized_data_actor': this.list_serialized_data_actor
                    }, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'X-CSRFToken': "{{ csrf_token }}"
                    }
                    })
                    .then((response) => {
                        this.data_actor = response.data['list_serialized_data_actor']
                        // this.f_refreshData()
                    })
                    .catch(() => {
                        console.log('Error! f_select_actor_to_delete')
                        
                    }) 
                } else {
                    alert("삭제가 취소되었습니다.");
                }
            },

            
            f_fold_searched_actor_list() {
                this.list_serialized_data_actor = null
            },

            
            
            f_input_text_name(event) {
                this.input_text_name = event.target.value
            },

            f_input_text_synonyms(event) {
                this.input_text_synonyms = event.target.value
            },

            f_input_date_birthday(event) {
                this.input_date_birthday = event.target.value
            },
        
            f_input_number_height(event) {
                this.input_number_height = event.target.value
            },

            f_input_info_site_name(event) {
                this.input_info_site_name = event.target.value
            },

            f_input_info_site_url(event) {
                this.input_info_site_url = event.target.value
            },

            f_input_text_tag(event) {
                this.input_text_tag = event.target.value
            },
            
            f_file_actor_images_select(event) {
            this.images = event.target.files;
            },
            
            async f_upload_form() {
                let formData = new FormData();
                if (this.images != null) {
                    for (let i = 0; i < this.images.length; i++) {
                        formData.append('images', this.images[i]);
                }}
                formData.append('button', 'create_or_update');
                formData.append('selected_actor_id', this.selected_actor_id);
                formData.append('input_text_name', this.input_text_name)
                formData.append('input_text_synonyms', this.input_text_synonyms)
                formData.append('input_date_birthday', this.input_date_birthday)
                formData.append('input_number_height', this.input_number_height)
                formData.append('input_info_site_name', this.input_info_site_name)
                formData.append('input_info_site_url', this.input_info_site_url)
                formData.append('input_text_tag', this.input_text_tag)
                this.show_progress = true;

                try {
                    await axios.post('/hans_ent_actor_update_modal/', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'X-CSRFToken': "{{ csrf_token }}"
                    },
                    onUploadProgress: progressEvent => {
                    this.progress_value = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100))}
                    })
                    .then((response) => {
                        this.progress_value = 0
                        this.progress_max = 100
                        this.progress_min = 0
                        this.show_progress = false
                        this.status_create = false
                        
                        $("#id_actor_upload_input_text_name").val("");
                        $("#id_actor_upload_input_date_birthday").val("");
                        $("#id_actor_upload_input_text_synonyms").val("");
                        $("#id_actor_upload_input_number_height").val("");
                        $("#id_actor_upload_input_info_site_name").val("");
                        $("#id_actor_upload_input_info_site_url").val("");
                        $("#id_actor_upload_input_text_tag").val("");

                        this.BASE_DIR_ACTOR = response.data['BASE_DIR_ACTOR']
                        this.data_actor = response.data['selected_serialized_data_actor']
                        
                        if (Object.keys(this.data_actor).length > 0 ) {
                            this.selected_actor_id = this.data_actor['id']
                            this.selected_actor_id = this.data_actor['id']
                            this.list_dict_profile_album = this.data_actor['list_dict_profile_album']
                        }
                    })
                    alert('Upload successful');
                } catch (error) {
                    console.error('Error uploading images:', error);
                }
            },




            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Actor Update Modal 관련 종료
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            


            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 리스트 검색 및 정렬
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            
                
            f_sorting_items(event) {
                this.selected_sorting_field = event
                console.log('initiated f_sorting_items', event)
                axios.post('/hans_ent_actor_list/', {
                    'button': 'sorting_items',
                    'sort_by': this.selected_sorting_field
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    this.f_refreshData()
                    console.log(response)
                })
                .catch(() => {
                    console.log('Error! 1-1')
                })
            },
            
            f_search_keyword_update(event) {
                this.inputTextKeyword = event.target.value
                searchData = this.inputTextKeyword
                axios.get('/hans_ent_actor_list_search/?keyword='+searchData)
                .then((response) => {
                    this.f_refreshData()
                    console.log(response)
                })
                .catch(() => {
                    console.log('Error! 3')
                })
            },

            f_reset_return() {
                this.selected_sorting_field = ''
                this.inputTextKeyword = ''
                this.message =''
            },

            f_search_keyword_button() {
                searchData = this.inputTextKeyword
                axios.get('/hans_ent_actor_list_search/?keyword='+searchData)
                .then((response) => {
                    this.f_refreshData()
                    console.log(response)
                })
                .catch(() => {
                    console.log('Error! 3')
                })
            },

            f_reset_search_result_button() {
                this.f_reset_return()
                axios.post('/hans_ent_actor_list_search/', {
                    'button': 'reset'
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log("response::", response);
                    this.inputTextKeyword = ''
                    this.f_refreshData()
                })
                .catch(() => {
                    console.log('Error! 1-6')
                })
            },

            f_page_number_min() {
                axios.post('/hans_ent_actor_list/', {
                    'button': 'page_number_min',
                    'count_page_number': this.count_page_number,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log("response::", response);
                    this.f_refreshData()
                })
                .catch(() => {
                    console.log('Error!')
                })
            },

            f_page_number_max() {
                axios.post('/hans_ent_actor_list/', {
                    'button': 'page_number_max',
                    'count_page_number': this.count_page_number,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log("response::", response);
                    this.f_refreshData()
                })
                .catch(() => {
                    console.log('Error!')
                })
            },


        },
            
        computed: {
            
            active_list_dict_profile_album() {
                return this.list_dict_profile_album.filter(item => item.active === "true" && item.discard === "false")
            },
            total_list_dict_profile_album() {
                return this.list_dict_profile_album.filter(item => item.discard === "false")
            },
            active_list_dict_picture_album() {
            return this.list_dict_picture_album.filter(item => item.active === "true" && item.discard === "false")
            },
            total_list_dict_picture_album() {
                return this.list_dict_picture_album.filter(item => item.discard === "false")
            },
        },

        mounted: function() {
            this.f_refreshData_router()
            // this.f_refreshData_actor_list()
        }
    }).mount('#app-hans-ent')

</script>







<style scoped>
    .image-container {
        position: relative;
        display: inline-block; /* Or use another display type that suits your layout */
    }
    
    img {
        display: block; /* Removes bottom space/line */
        /* width: 100%; /* Adjust this as per your requirement */
        height: auto; /* Adjust this as per your requirement */
    }
    
    .text-overlay {
        position: absolute;
        top: 0; /* Adjust this to place your text */
        left: 0; /* Adjust this to place your text */
        width: 100%; /* Adjust this to match your image's width */
        color: magenta; /* Text color */
        font-size: 20px; /* Adjust this as per your requirement */
        text-align: center; /* Aligns the text horizontally */
        padding: 5px; /* Adjust this as per your requirement */
    }

    .grid-container {
    display: grid;
    gap: 10px; /* Space between boxes */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Default: fit as many 150px boxes as possible */
    }

    .box {
    height: 375px; /* Fixed height for all boxes */
    background-color: #f0f0f0; /* Example styling */
    display: flex;
    justify-content: center;
    align-items: center;
    }

    @media (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    }

    @media (min-width: 1200px) and (max-width: 1500px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
    }

    @media (min-width: 1500px) and (max-width: 1900px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
    }

    @media (min-width: 1900px) and (max-width: 2100px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
    }

    @media (min-width: 2100px) and (max-width: 2400px) {
    .grid-container {
        grid-template-columns: repeat(7, 1fr);
    }
    }

    @media (min-width: 2400px) and (max-width: 2800px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }
    }

    @media (min-width: 2800px) and (max-width: 3200px) {
    .grid-container {
        grid-template-columns: repeat(9, 1fr);
    }
    }

    @media (min-width: 3200px) {
    .grid-container {
        grid-template-columns: repeat(10, 1fr);
    }
    }


    
        
    .gallery-container {
    display: grid;
    gap: 10px; /* Space between boxes */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Default: fit as many 150px boxes as possible */
    }

    .box {
    height: 375px; /* Fixed height for all boxes */
    background-color: #f0f0f0; /* Example styling */
    display: flex;
    justify-content: center;
    align-items: center;
    }


    
    @media (max-width: 800px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
    }

    @media (min-width: 1200px) and (max-width: 1500px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
    }

    @media (min-width: 1500px)  {
    .gallery-container {
        grid-template-columns: repeat(5, 1fr);
    }
    }

        
    .stillimage-container {
    display: grid;
    gap: 10px; /* Space between boxes */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Default: fit as many 150px boxes as possible */
    }

    .stillimage-box {
    height: 75px; /* Fixed height for all boxes */
    background-color: #f0f0f0; /* Example styling */
    display: flex;
    justify-content: center;
    align-items: center;
    }

    @media (max-width: 1200px) {
    .stillimage-container {
        grid-template-columns: repeat(10, 1fr);
    }
    }


    /* 
    / Actor List /////////////////////////////////////////////////////////////////////////////////////
    */
    
    .image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    }
    
    .grid-container-picture-album-actor{
            display: grid;
            gap: 10px; /* Space between boxes */
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Default: fit as many 150px boxes as possible */
    }
    
    .box-picture-album-actor{
        height: 220px; /* Fixed height for all boxes */
        background-color: #f0f0f0; /* Example styling */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .grid-container-picture-album-picture{
            display: grid;
            gap: 10px; /* Space between boxes */
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Default: fit as many 150px boxes as possible */
    }
    
    .box-picture-album-picture{
        height: 220px; /* Fixed height for all boxes */
        background-color: #f0f0f0; /* Example styling */
        display: flex;
        justify-content: center;
        align-items: center;
    }

            
    /* 
    / Picture Album Gallery /////////////////////////////////////////////////////////////////////////////////////
    */
    /* Style the image grid */
    .image-grid-picture-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 16px; /* Optional: space between grid boxes */
    }

    /* Each grid box with fixed size */
    .grid-box-picture-gallery {
        width: 350px;
        height: 500px;
        border: 1px solid #ccc;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
    }

    /* Images inside grid boxes */
    .grid-box-picture-gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Make sure the image fits without distortion */
    }

</style>





{% endblock content %}
