
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}


<!-- Modal -->
<div class="modal fade modal-xl" id="app-hans-ent-video-album-gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">

		<div class="modal-content">
			
			<div class="modal-header">
				<h1 class="modal-title fs-4" id="exampleModalLabel">
					[[ data_actor.id ]], [[ data_video_album.id ]] Gallery: [[ data_video_album.title ]] 
					<span v-if="data_video_album.code">
						([[ data_video_album.code ]])
					</span> 
				</h1>
				
				&nbsp; 
				<button type="button" class="btn btn-primary btn-sm"  @click="f_hans_ent_video_album_gallery_fullscreen_w_path" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#app-hans-ent-video-album-gallery-fullscreen-modal" >Fullscreen</button>
				&nbsp; 

				<!--
					아이콘들 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				-->
				<div class="text-center">
					<button @click="f_hans_ent_actor_profile_modal(data_actor.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-actor-profile-modal">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
							<path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
							<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
						</svg>                            
					</button>
					&nbsp;
					<button @click="f_hans_ent_video_album_update_modal(data_video_album.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app-hans-ent-video-album-upload-modal">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
							<path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
						</svg>
					</button>
					&nbsp;
					<a v-if="data_video_album.list_album_video_id != null">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
							<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg>
					</a>
				</div> 

				<button type="button" @click="f_modal_close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				
				<!-- Selected Video Player -->

				<div class="container">
				
					<div v-if="selected_video_album_video_id == 0"> 
						<!-- 리스트에서 앨범 대표 영상으로 접속 -->
						<div v-for="(item, index) in active_list_dict_video_album" :key="index">
							<video width="1080" height="650" :poster="BASE_DIR_VIDEO+item.thumbnail" controls crossorigin playsinline id="id_videoPlayer">
								<source :src="BASE_DIR_VIDEO+item.video" type="video/mp4" id="id_videoPlayer_source">
							</video>   

							<hr v-if="check_video_player_expand == true">
							<div v-if="check_video_player_expand == true">
								<div class="stillimage-container">
									<div v-for="(item_sub, index) in item.still" :key="index" class="stillimage-box">
										<button @click="f_video_still_image_selected(item_sub.time)" class="btn" >
											<img :src="BASE_DIR_VIDEO+item_sub.path"  width="110">
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div v-else>
						<!-- 앨범 내 특정 영상을 클릭하여 접속 -->
						<div v-for="(item, index) in total_list_dict_video_album" :key="index">
							<div v-if="item.id == selected_video_album_video_id">
								<video width="1080" height="650" :poster="BASE_DIR_VIDEO+item.thumbnail" controls crossorigin playsinline id="id_videoPlayer">
									<source :src="BASE_DIR_VIDEO+item.video" type="video/mp4" id="id_videoPlayer_source">
								</video>   

								<hr v-if="check_video_player_expand == true">
								<div v-if="check_video_player_expand == true">
									<div class="stillimage-container">
										<div v-for="(item_sub, index) in item.still" :key="index" class="stillimage-box">
											<button @click="f_video_still_image_selected(item_sub.time)" class="btn" >
												<img :src="BASE_DIR_VIDEO+item_sub.path"  width="110">
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				

				<!-- Registered Videos -->
				
  				<div v-if="total_list_dict_video_album.length > 0">
					<hr>
					<div class="gallery-container">
						<div v-for="(item, index) in total_list_dict_video_album" :key="index" class="card" >
							<button @click="f_select_video_album_video(item.id)" class="btn">
								<span>
									<img :src="BASE_DIR_VIDEO+item.thumbnail" width="200">
								</span>
								<div class="text-overlay">[[ item.id ]]</div>
							</button>
						</div>
					</div>
				</div>


			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @click="f_modal_close" data-bs-dismiss="modal">Close</button>
			</div>
		
		</div>
	</div>
</div>



<script>

	// const player = new Plyr('video', {captions: {active: true}});
	// window.player = player;

	// var video = $("video")[0];
	
	var post_hans_ent_video_album_gallery_modal = createApp({
		delimiters: ["[[", "]]"],
		data() {
		return {
            BASE_DIR_VIDEO: '', 
			
			data_actor: {},
			data_video_album: {},
			list_dict_picture_album: [],
			list_dict_video_album: [],
            
			selected_actor_id: '',
			selected_video_album_id: '',
			selected_video_album_video_id: '',
			
			selected_video_file_path: '',
			youtube_player: '',
			startTime: 0,

			gallery_status_origin: false,
			check_video_player_expand: true,
		}
		},
		methods: {
			f_refreshData() {
				console.log('open modal for video create!!')
				axios.get('/hans_ent_video_album_gallery_modal/')
				.then((response) => {
					this.data_video_album = response.data['selected_serialized_data_video_album']
					console.log("gallery modal refresh done")
				})
			},

			f_gallery_status_switch() {
				if (this.gallery_status_origin == false) {
					this.gallery_status_origin = true
				} else {
					this.gallery_status_origin = false
				}
			},

			f_sync_data_to_video_album_gallery_modal(data) {
                this.BASE_DIR_VIDEO = data['BASE_DIR_VIDEO']
				this.data_actor = data['selected_serialized_data_actor']
				this.data_video_album = data['selected_serialized_data_video_album']
				this.selected_video_album_video_id = data['selected_video_album_video_id']
				
                if (Object.keys(this.data_actor).length > 0 ) {
					this.selected_actor_id = this.data_actor['id']
				}
                if (Object.keys(this.data_video_album).length > 0 ) {
					this.selected_video_album_id = this.data_video_album['id']
					this.list_dict_picture_album = this.data_video_album['list_dict_picture_album']
                    this.list_dict_video_album = this.data_video_album['list_dict_video_album']
				}

				this.f_remove_video_source()
				this.f_load_video_source(this.list_dict_video_album)
				console.log('Video Album Gallery Modal로 정보 전송 완료')
			},

			f_select_video_album_video(event) {
				this.selected_video_album_video_id = event
			},
			
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 정보 전송
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

			// icon pannel Video Album Gallery Fullscreen Modal로 정보 전송 by PATH data
			f_hans_ent_video_album_gallery_fullscreen_w_path() {
				console.log('######################## 1', this.selected_actor_id, this.selected_video_album_id)
				axios.post('/hans_ent_video_album_gallery_modal/', {
                    'selected_video_album_id': this.selected_video_album_id,
                    'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('######################## 사진 앨범 갤러리 풀스크린 모달창으로 전송', this.selected_actor_id)
                    post_hans_ent_video_album_gallery_fullscreen_modal.f_sync_data_to_video_album_gallery_fullscreen_modal_w_path(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_video_album_gallery_fullscreen_w_path')
                })
			},

            // icon pannel Video Album Gallery Fullscreen Modal로 정보 전송 by URL data
			f_hans_ent_video_album_gallery_fullscreen_w_url() {
				console.log('######################## 2')
				post_hans_ent_video_album_gallery_fullscreen_modal.f_sync_data_to_video_album_gallery_fullscreen_modal_w_url(
					{
						'selected_serialized_data_actor': this.data_actor,
						'selected_serialized_data_video_album': this.data_video_album,
					}
					)
			},


			
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 비디오 기능 수행
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

			
			f_video_player_close() {
				$("video")[0].pause();
				this.startTime = 0
			},
			
			f_video_player_expand(event) {
				if (event == false) {
					this.check_video_player_expand = true;
				} else {
					this.check_video_player_expand = false;
				}
				console.log(this.check_video_player_expand)
			},

			f_video_still_image_selected(event) {
				this.startTime = parseInt(event);
				if (!isNaN(this.startTime) && this.startTime >= 0 && this.startTime <= $("video")[0].duration) {
					$("video")[0].currentTime = this.startTime; // Set the current time to the specified time
					$("video")[0].play(); // Play the video
				} else {
					alert('Please enter a valid time within the video duration.');
				}
			},

			f_remove_video_source() {
				// $("video")[0].pause();
				// $($("video")[0]).find("source").remove();
				var videoElement = document.getElementById('id_videoPlayer');
				videoElement.pause();
				videoElement.removeAttribute('src'); // empty source
				videoElement.load();
				this.startTime = 0
				console.log('비디오 종료!')
			},

			
			f_load_video_source(event) {
				console.log('비디오 로딩!', this.BASE_DIR_VIDEO+event.filter(item => item.active === "true" && item.discard === "false")[0]['video'])
				var videoElement = document.getElementById('id_videoPlayer');
				// Create a new source element
				var source = document.createElement('id_videoPlayer_source');
				source.setAttribute('src', this.BASE_DIR_VIDEO+event.filter(item => item.active === "true" && item.discard === "false")[0]['video']);
				source.setAttribute('type', 'video/mp4');
				videoElement.appendChild(source);
			},


            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 앨범 기능 수행
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

			f_delete_video_album(event) {
				console.log(event)
				const isConfirmed = window.confirm("정말 삭제하시겠습니까?");
				if (isConfirmed) {
					axios.post('/hans_ent_video_album_delete/', {
						'button': 'remove_video_album_pic',
						'selected_video_album_id': this.selected_video_album_id,
					}, {
					headers: {
						'Content-Type': 'multipart/form-data',
						'X-CSRFToken': "{{ csrf_token }}"
					}
					})
					.then((response) => {
						this.data_video_album = response.data['selected_serialized_data_video_album']
						this.data_actor = response.data['selected_serialized_data_actor']
						
						this.selected_video_album_id = this.data_video_album['id']
						this.selected_actor_id = this.data_actor['id']
						console.log("사진 앨범 사진 삭제 완료", data)
					})
					.catch(() => {
						console.log('Error! f_delete_video_album')
					})
				} else {
					alert("삭제가 취소되었습니다.");
				}
			},

			f_delete_video_album_video() {
				const isConfirmed = window.confirm("앨범에 등록된 사진들도 모두 삭제됩니다. 정말 삭제하시겠습니까?");
				if (isConfirmed) {
                	axios.post('/hans_ent_video_album_delete/', {
						'button': 'remove_video_album',
						'selected_video_album_id': this.selected_video_album_id,
						'selected_video_album_video_id': this.selected_video_album_video_id,
					}, {
					headers: {
						'Content-Type': 'multipart/form-data',
						'X-CSRFToken': "{{ csrf_token }}"
					}
					})
					.then((response) => {
						this.data_video_album = response.data['selected_serialized_data_video_album']
						this.data_actor = response.data['selected_serialized_data_actor']
						
						this.selected_video_album_id = this.data_video_album['id']
						this.selected_actor_id = this.data_actor['id']
						console.log("사진 앨범 삭제 완료", data)
						post_hans_ent_video_album_list.f_refreshData()
					})
					.catch(() => {
						console.log('Error! 1-6')
					})
				} else {
						alert("삭제가 취소되었습니다.");
					}
			},
			
			
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // 정보 전송
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// icon pannel Actor Profile Modal로 정보전송
			f_hans_ent_actor_profile_modal(event) {
                this.selected_actor_id = event
				console.log('선택된 배우 아이디', this.selected_actor_id)
                axios.post('/hans_ent_actor_profile_modal/', {
                    'selected_actor_id': this.selected_actor_id,
					'selected_video_album_id': this.selected_video_album_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    console.log('################### Actor Profile Modal로 정보 전송', response.data)
                    post_hans_ent_actor_profile_modal.f_sync_data_to_actor_profile_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_album_upload_modal')
                })
            },
            
			// icon pannel Actor Video Album Upload Modal로 정보전송
            f_hans_ent_video_album_update_modal(event) {
                this.selected_video_album_id = event
                console.log('선택된 사진 앨범 아이디', this.selected_video_album_id)
                axios.post('/hans_ent_video_album_update_modal/', {
                    'selected_video_album_id': this.selected_video_album_id,
					'selected_actor_id': this.selected_actor_id,
                }, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': "{{ csrf_token }}"
                }
                })
                .then((response) => {
                    post_hans_ent_video_album_update_modal.f_sync_data_to_video_album_update_modal(response.data);
                })
                .catch(() => {
                    console.log('Error! f_hans_ent_video_album_update_modal')
                })
            },
			

			f_modal_close() {
				this.f_video_player_close()
			},
		},

        computed: {
			active_list_dict_picture_album() {
                return this.list_dict_picture_album.filter(item => item.active === "true" && item.discard === "false")
            },
			total_list_dict_picture_album() {
                return this.list_dict_picture_album.filter(item => item.discard === "false")
            },
            active_list_dict_video_album() {
                return this.list_dict_video_album.filter(item => item.active === "true" && item.discard === "false")
            },
			total_list_dict_video_album() {
                return this.list_dict_video_album.filter(item => item.discard === "false")
            },
			trimmedList(images) {
				return this.images.slice(0, 100); // Keeps only the first 100 items
			},
			get_selected_video_source() {
				return this.list_dict_video_album.filter(item => item.active === "true" && item.discard === "false")['video']
			},
        },
		
		mounted: function() {
			this.f_refreshData()
		}

	}).mount('#app-hans-ent-video-album-gallery-modal')

    // modal 화면에서 숨겨진 상태가 되면 실행되는 함수

    $('#app-hans-ent-video-album-gallery-modal').on('hidden.bs.modal', function () {
		// $("video")[0].pause();
		post_hans_ent_video_album_gallery_modal.f_remove_video_source()
	});

	
</script>


<style>
    
    .image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    }
</style>