
{% extends 'base.html' %}

{% load bootstrap4  %}
{% load static %}
    
{% block content %}

    <div class="row">
        
        <div class="col-md-12">
            <legend class="border-bottom mb-4">
                    <h1>
                        Hello World!
                    </h1>
            </legend>
        </div>
        <div>
            {% for dict_stoage_status in list_dict_stoage_status %}
                Name: {{ dict_stoage_status.name }} GB
                Total: {{ dict_stoage_status.total_volume }} GB
                Used: {{ dict_stoage_status.used_volume }} GB
                Free: {{ dict_stoage_status.free_volume }} GB
                Occupant: {{ dict_stoage_status.occupant }} %
                <hr>
            {% endfor %}
        </div>
        
    </div>

{% endblock content %}
