{% load static %}

<style>
  
</style>
<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a href="{% url 'home' %}" target="self">
            <img class="image-logo" src="{% static '/images/logo.png' %}" style="height: 60px; width: auto;">
        </a>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'family' %}">Family</a>
                <a class="nav-item nav-link" href="{% url 'study' %}">Study</a>
                <a class="nav-item nav-link" href="{% url 'entertainment' %}">Entertainment</a>
                <a class="nav-item nav-link" href="{% url 'hans-ent' %}">Hans Ent.</a>
                <a class="nav-item nav-link" href="{% url 'secret' %}">Secret</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile-user' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout-user' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register-user' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
  </nav>
</header>