
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
    
<!-- Modal -->
<div class="modal fade modal-xl" id="app_hans_ent_actor_profile_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

	<div class="modal-dialog">

		<div class="modal-content">
                       
			<div class="modal-header">
				<h1 class="modal-title fs-4" id="exampleModalLabel"> 
                    Actor Profile: [[ data_actor.name ]] ([[ data_actor.id ]])
                </h1>
				&nbsp; 
                
                <button @click="f_hans_ent_actor_update_modal_open(data_actor.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_actor_update_modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                </button>
                &nbsp;
                <button  @click="f_status_change_favorite_actor(data_actor.id)" type="button" class="btn">
					<div v-if="check_selected_actor_favorite == false">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
							<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
						</svg>
					</div>
					<div v-else>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
							<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg>
					</div>
				</button>
				&nbsp;
				<button  @click="f_add_rating_score_actor(data_actor.id)" type="button" class="btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
						<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849"/>
					</svg>
				</button>

                &nbsp;
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
			</div>

			<div class="modal-body">

				<div>
					<table  class="table">
						<!-- 문서 Title -->
						<tr>
							<td rowspan="6" width="30%">
                                <div v-for="item in active_list_dict_profile_album" :key="item.id">
									<a :href="BASE_DIR_ACTOR+item.original" target="_blank">
										<img :src="BASE_DIR_ACTOR+item.cover" width="300">
									</a>
                                </div>
							</td>
						

							<th width="15%" style="background-color:rgb(240,240,240,0.5)">
								이름
							</th>
							<td  width="20%">
								<div>
									[[ data_actor.name ]]
								</div>
							</td>
                            <th  width="15%" style="background-color:rgb(240,240,240,0.5)">
								나이 (생일)
							</th>
							<td  width="20%">
								<div>
									[[ data_actor.age ]] ([[ data_actor.date_birth ]])
								</div>
							</td>
						</tr>

                        <!-- 사이트 -->
						<tr>
							<th style="background-color:rgb(240,240,240,0.5)">
								다른이름
							</th>
							<td style="background-color:rgb(255,255,255,0.05)">
                                <div v-for="item in data_actor.synonyms" >
                                    [[ item ]]&nbsp;
                                </div>
							</td>
                            <th style="background-color:rgb(240,240,240,0.5)">
								키
							</th>
                            <td style="background-color:rgb(255,255,255,0.05)">
                                [[ data_actor.height ]]
                            </td>
						</tr>

						
						<!-- 사이트 -->
						<tr>
							<th style="background-color:rgb(240,240,240,0.5)">
								관련 사이트
							</th>
							<td style="background-color:rgb(255,255,255,0.05)">
                                <div v-for="item in list_dict_actor_info_url" class="card" >
                                    <a :href="[[ item.url ]]" target="_blank">
                                        [[ item.name ]]
                                    </a>
                                </div>
							</td>
                            <th style="background-color:rgb(240,240,240,0.5)">
								Tag
							</th>
                            <td style="background-color:rgb(255,255,255,0.05)">
                                <div v-for="(item, index) in data_actor.tags":key="index" class="card" >
									<span  v-if="index < 10" >
										[[ item ]]
 									</span>
                                </div>
                            </td>
						</tr>

					</table>
				</div>


				
                
                <!--
                    등록된 사진 앨범  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                -->
                <!-- Registered Picture Albums -->
                <hr>
                <table class="table">
                    <tr>
                        <td width="20%">
                            <h4>Picture Album</h4>
                        </td>
                        <td width="10%">
                            <button type="button" class="btn" @click="f_button_fold_unfold_album_picture">

                                <div v-if="status_picture_gallery_close == false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </div>
                                <div v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </div>
                            </button>
                        </td>
                        <!-- 버튼 Picture Album 업로드 -->
                        <td width="15%">
                            
                            <button @click="f_hans_ent_picture_album_create_modal_open_by_actor_id(data_actor.id)" type="button" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                    <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                </svg>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </table>

                <div v-if="status_picture_gallery_close == false">
                    <div class="gallery-container">
                        <div v-for="(item, index) in list_serialized_data_picture_album_by_actor" :key="index"class="card" >
                            
                            <div class="box" id="picture-picture_album-box">
                                <div class="card-body">

                                    

                                    <button type="button" @click="f_hans_ent_picture_album_gallery_modal_open(item.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_picture_album_gallery_modal">
                                        <img :src="BASE_DIR_PICTURE+item.thumbnail" width="140">
                                    </button>

                                    <!-- <div v-for="(dict_picture_album, index) in item.list_dict_picture_album" :key="index">
                                        <div v-if="dict_picture_album.active == 'true'">
                                            
                                            <button type="button" @click="f_hans_ent_picture_album_gallery_modal_open(item.id)" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_picture_album_gallery_modal">
                                                <img :src="BASE_DIR_PICTURE+dict_picture_album.thumbnail" width="140">
                                            </button>

                                        </div>
                                    </div> -->
                                            
                                    <div class="text-overlay">[[ item.id ]]</div>
                                    <div class="text-center">
                                        <strong>
                                            [[ item.title ]]

                                            <span v-if="item.check_url_downloaded" class="badge bg-success">Downloaded</span>
                                            <span v-if="item.check_4k_uploaded" class="badge bg-warning">Uploaded</span>

                                            <span v-if="item.code">
                                                ([[ item.code ]])
                                            </span> 
                                        </strong>
                                        <br>
                                        <!--
                                            아이콘들 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                        -->
                                        <div class="text-center">
                                            <button @click="f_hans_ent_picture_album_gallery_fullscreen_modal_open(item.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_picture_album_gallery_fullscreen_modal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"/>
                                                </svg>                             
                                            </button>
                                            &nbsp;
                                            
                                            <button @click="f_hans_ent_picture_album_update_modal_open(item.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_picture_album_update_modal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                                </svg>
                                            </button>
                                        </div> 

                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    등록된 비디오 앨범  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                -->
                <!-- Registered Video Albums -->
                <hr>
                <table class="table">
                    <tr>
                        <td width="20%">
                            <h4>Video Album </h4>
                        </td>
                        <td width="10%">
                            <button type="button" class="btn" @click="f_button_fold_unfold_album_video">
                                <div v-if="status_video_gallery_close == false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </div>
                                <div v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </div>
                            </button>
                        </td>
                        <td width="15%">
                            <button @click="f_hans_ent_video_album_create_modal_open_by_actor_id(data_actor.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_video_album_create_modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                    <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                </svg>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </table>

                <div v-if="status_video_gallery_close == false">
                    <div class="gallery-container">
                        <div v-for="(item, index) in list_serialized_data_video_album_by_actor" :key="index"class="card" >
                            <div class="box" id="picture-video_album-box">
                                <div class="card-body">
                                    
                                    <div v-for="(dict_picture_album, index) in item.list_dict_picture_album" :key="index">
                                        <div v-if="dict_picture_album.active == 'true'">
                                            <button @click="f_hans_ent_video_album_gallery_modal_open(item.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_video_album_gallery_modal">
                                                <img :src="BASE_DIR_VIDEO+dict_picture_album.thumbnail" width="140">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <strong>
                                             [[ item.title ]]
                                        </strong>
                                        <span v-if="item.code">
                                            ([[ item.code ]])
                                        </span> 
                                        <br>
                                        <!--
                                            아이콘들 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                        -->
                                        <div class="text-center">
                                            <button @click="f_hans_ent_video_album_update_modal_open(item.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_video_album_update_modal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                                </svg>
                                            </button>
                                        </div> 

                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--
                    등록된 뮤직 앨범  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                -->
                <!-- Registered Music Albums -->
                <hr>
                <table class="table">
                    <tr>
                        <td width="20%">
                            <h4>Music Album</h4>
                        </td>
                        <td width="10%">
                            <button type="button" class="btn" @click="f_button_fold_unfold_album_music">
                                <div v-if="status_music_gallery_close == false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </div>
                                <div v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </div>
                            </button>
                        </td>
                        <td width="15%">
                            <button @click="f_hans_ent_music_album_create_modal_open_by_actor_id(data_actor.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_music_album_create_modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                    <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                </svg>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </table>

                <div v-if="status_music_gallery_close == false">
                    <div class="gallery-container">
                        <div v-for="(item, index) in list_serialized_data_music_album_by_actor" :key="index"class="card" >
                            <div class="box" id="picture-video_album-box">
                                <div class="card-body">
                                    
                                    <div v-for="(dict_picture_album, index) in item.list_dict_picture_album" :key="index">
                                        <div v-if="dict_picture_album.active == 'true'">
                                            <button @click="f_hans_ent_music_album_gallery_modal_open(item.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_music_album_gallery_modal">
                                                <img :src="BASE_DIR_MUSIC+dict_picture_album.thumbnail" width="140">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <strong>
                                             [[ item.title ]]
                                        </strong>
                                        <span v-if="item.code">
                                            ([[ item.code ]])
                                        </span> 
                                        <br>
                                        <!--
                                            아이콘들 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                        -->
                                        <div class="text-center">
                                            <button @click="f_hans_ent_music_album_update_modal_open(item.id)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#app_hans_ent_music_album_update_modal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                                </svg>
                                            </button>
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <hr>
            </div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		
		</div>
	
    </div>

</div>


