{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}


<!-- Modal -->
<div class="modal fade modal-xl" id="app_hans_ent_music_album_create_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-4" id="modal_header_h1"> 
                    Create New Music Album 
                </h1>
                &nbsp; 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div>
                    <table  class="table">
                        <!-- 문서 Title -->
						<tr>
							<!--
								Music 커버 이미지 등록 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
							-->
							<td rowspan="4" width="30%">
							</td>
						
							<!--
								Music Name 등록 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
							-->
							<th width="15%" style="background-color:rgb(240,240,240,0.5)">
								제목 [[ input_text_title ]]
							</th>
							<td width="20%">
								<strong>
								</strong>
								<br>
								<input type="text" @input="f_input_text_title" v-model="input_text_title" class="form-control" enabled id="id_music_create_input_text_title" ref="ref_music_create_input_text_title">
							</td>
							<th  width="15%" style="background-color:rgb(240,240,240,0.5)">
								Release Date [[ input_date_released ]]
							</th>
							<td  width="20%">
								<strong>
								</strong>
								<br>
								<input type="date" @input="f_input_date_released" class="form-control" enabled id="id_music_create_input_date_released" ref="ref_music_create_input_number_score">
							</td>
						</tr>

                        <!-- 추가정보 -->
						<tr>
							<th style="background-color:rgb(240,240,240,0.5)">
								스튜디오 [[ input_text_studio ]]
							</th> 
							<td style="background-color:rgb(255,255,255,0.05)">
								<input type="text" @input="f_input_text_studio" class="form-control" enabled id="id_music_create_input_text_studio" ref="ref_music_create_input_text_studio">
							</td>
							<th style="background-color:rgb(240,240,240,0.5)">
								Tag [[ input_text_tag ]]
							</th>
							<td style="background-color:rgb(255,255,255,0.05)">
								<strong>
								</strong>
								<br>
								<input type="text" @input="f_input_text_tag" class="form-control" enabled id="id_music_create_input_text_tag" ref="ref_music_create_input_text_tag">
							</td>
						</tr>

                        <!-- Actor 지정한 뒤 생성할 경우 Actor 정보-->
                        <tr v-if="status_create_music_album_by_actor_id === true">
							<th style="background-color:rgb(240,240,240,0.5)">
								Actor
							</th> 
							<td style="background-color:rgb(255,255,255,0.05)">
								<div>
									Selected Model:
									<strong> <h5>[[ data_actor.name ]] </h5> </strong>
								</div>
							</td>
							<th style="background-color:rgb(240,240,240,0.5)">
								등록된 Album 수 
							</th>
							<td style="background-color:rgb(255,255,255,0.05)">
								<strong>사진앨범: 
								</strong>
								<br>
							</td>
						</tr>

						<tr>
                            <th style="background-color:rgb(240,240,240,0.5)">
                                카테고리 [[ selected_filtering_category_name ]]
                            </th>
                            <td style="background-color:rgb(255,255,255,0.05)">
                                <div class="dropdown"></div>
                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Category
                                    </button>
                                    <ul class="dropdown-menu">
                        
                                        <li v-for="(item, index) in list_xxx_category" :key="index">
                                            <a class="dropdown-item" href="#"
                                            @click="f_select_category_album(item)"
                                            >[[ item[1] ]]</a>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </td>
                            <th style="background-color:rgb(240,240,240,0.5)">
                                ???
                            </th>
                            <td style="background-color:rgb(255,255,255,0.05)">
                                ???
                            </td>
                        </tr>

                    </table>
                </div>



                
				<!-- 
					Progress Bar ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				-->
				<div v-if="show_progress==true" >
					<div class="progress">
						<div
							class="progress-bar"
							role="progressbar"
							:style="'width: ' + progress_value+'%;'"
							:aria-valuenow="progress_value"
							aria-valuemin="0"
							aria-valuemax="100">
							[[ progress_value ]] %
						</div>
					</div>
				</div>
                

                <!--
					모달창 제어 버튼 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				-->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="f_music_album_create_form" >Create</button>
                	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
                
            </div>

        </div>
    </div>
</div>



