
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}


<!-- Modal -->
<div class="modal fade modal-xl" id="app-hans-ent-picture-album-upload-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-4" id="exampleModalLabel">  [[ data_picture_album ]] Upload Picture Album : [[ data_actor.name ]] [[ data_picture_album.title ]] </h1>
				&nbsp; 
				
				<button type="button" @click="f_modal_close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				[[ BASE_DIR_ACTOR ]]
				<hr>
				[[ data_actor ]]
				<hr>
				[[ data_picture_album ]]
			
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-warning btn-sm"  @click="f_delete_picture_album_and_its_pic" data-bs-dismiss="modal" >Album Delete</button>
				<button type="button" class="btn btn-secondary" @click="f_modal_close" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"  @click="f_upload_album_form" >Upload</button>
			</div>
		
		</div>
	</div>
</div>




<script>
	var post_hans_ent_picture_album_upload_modal = createApp({
		delimiters: ["[[", "]]"],
		data() {
		return {
			BASE_DIR_ACTOR: '',
			BASE_DIR_PICTURE: '',
			data_actor: {},
			data_picture_album: {},
			list_dict_picture_album: [],
		}
		},
		methods: {
			refreshData() {
				console.log('open modal for video create!!')
				axios.get('/hans_ent_picture_album_upload_modal/')
				.then((response) => {
					this.BASE_DIR_ACTOR = response.data['BASE_DIR_ACTOR']
					this.BASE_DIR_PICTURE = response.data['BASE_DIR_PICTURE']
					this.data_actor = response.data['selected_serialized_data_actor']
					this.data_picture_album = response.data['selected_serialized_data_picture_album']

					this.list_dict_picture_album = this.data_picture_album['list_dict_picture_album']
				})
			},

			f_sync_data_to_picture_album_upload_modal(data) {
				this.BASE_DIR_ACTOR = data['BASE_DIR_ACTOR']
				this.BASE_DIR_PICTURE = response.data['BASE_DIR_PICTURE']
				this.data_actor = data['selected_serialized_data_actor']
				this.data_picture_album = data['selected_serialized_data_picture_album']

				this.list_dict_picture_album = this.data_picture_album['list_dict_picture_album']
				console.log('앨범 업로드 모달창으로 전송 완료', data)
			},
			

			
			// 모달창 닫기
			f_modal_close() {
				post_hans_ent_picture_album_list.refreshData()
		        console.log('모달창 닫힘버튼 눌렀음!')
			}, 

		},
		mounted: function() {
			this.refreshData()
		}
	}).mount('#app-hans-ent-picture-album-upload-modal')

</script>

<style>
	.grid-container-picture-album-actor{
			display: grid;
			gap: 10px; /* Space between boxes */
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Default: fit as many 150px boxes as possible */
	}
	
	.box-picture-album-actor{
		height: 220px; /* Fixed height for all boxes */
		background-color: #f0f0f0; /* Example styling */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.grid-container-picture-album-picture{
			display: grid;
			gap: 10px; /* Space between boxes */
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Default: fit as many 150px boxes as possible */
	}
	
	.box-picture-album-picture{
		height: 220px; /* Fixed height for all boxes */
		background-color: #f0f0f0; /* Example styling */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	</style>